body{
	background-color: #d8d8d8;
}
/* Header */
nav{
	width: 110%;
}
/* Logo */
header img{
	height: 130px;
	position: absolute;
	left: 5%;
	transition: all .6s;
}
/* CAR SERVICE */
header h1{
	top: 20px;
	color: black;
	font-family: Futura, Arial, sans-serif;
	font-size: 350%;
	font-weight: bold;
	position: relative;
	left: 15%;
	width: 50%;
}
/* Postavitve v Header-ju & Navbar */
header li{
	margin-right: 5px;
}
#headerId{
	display: flex;
	flex-direction: row;
}
header a{
	left: 25px;
}
/* oblika navbar-ja na manjši velikosti zaslona */
@media (max-width: 550px){
	#meni a{
		top: 0px !important;
	}
	div#meni{
		top: 0px !important;
		padding-bottom: 0px;
	}
	.navbar-inverse .navbar-nav{
		position: relative;
		top: 0px !important;
		right: 25px !important;
	}
}
.navbar {
	background-image: radial-gradient(rgb(87, 87, 87), rgb(52, 52, 52));
	border: 0;
	font-size: 1.2em;
	width: 100%;
	color: #222;
	border-radius: 0;
 }
#meni{
	position: relative;
	top:30px;
	right:-45px;
}
.navbar-inverse .navbar-nav{
	position: relative;
	top: -30px;
	right: 5%;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
	color: black;
	background-color: rgb(255, 165, 0);
}
.navbar-inverse .navbar-nav li a:hover { 
	color: black; 
	background-color:orange;
}
#meni{
	position: relative;
	left: 0px;
	font-size: 90%;
}
#meni a:hover{
	color: black; 
	background-color:orange !important;
}
/* Oblika za logo in naslov na manjši velikosti zaslona */
@media (max-width: 500px) {
	header img{
		height: 100px;
		position: absolute;
		left: 2%;
	}
	header h1{
		top: 20px;
		color: black;
		font-family: Futura, Arial, sans-serif;
		font-size: 200%;
		font-weight: bold;
		position: relative;
		top: 15px;
		left: 15%;
		width: 250px;
	}
}

/* Footer */
footer{
	height: 40px;
	box-shadow: 0 2px 10px 1px grey;
	background-color: white;
	height: 100px;
}
.copy{
	color:rgb(83, 83, 83);
	font-family: Arial;
	font-size: 130%;
}
footer div.row{
	padding-top: 20px;
}


/* Vrtiljak slik - Carousel */
.item img { 
	margin: auto;
	filter: blur(0px);
	width: 100%;
}
/* tri krogci na vrtiljaku slik */
.carousel-indicators{
	bottom: 0px;
}
/* Položaj napisa na slikah vrtiljaka */
.carousel-caption {
   top: 60%;
}
/* Oblika napisa na slikah vrtiljaka */
.carousel-caption p {
   color: rgb(41, 41, 41);	
}
/* kvadrat s tekstom */
.indexSection1{	
	position: absolute;
	top: -265px;
	background-color: silver;
	padding-top: 65px;
	padding-left: 0px;
	padding-right: 100%;
	padding-bottom: 350px;
	opacity: .8;
	border: 3px solid white;
	border-radius: 15px;
}
/* tekst v sliki */
.indexSectionText{
	position: absolute;
	top:-130px;
	left:50px;
	right: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 200% !important;
}

@media (max-width: 1024px) {
	.carousel-indicators{
		bottom: -10px;
	}
	.indexSection1{	
		position: absolute;
		top: -160px;
		background-color: silver;
		padding-top: 65px;
		padding-left: 0px;
		padding-right: 100%;
		padding-bottom: 148px;
		opacity: .8;
		border: 3px solid white;
		border-radius: 3px;
	}
	/* tekst v sliki */
	.indexSectionText{
		position: absolute;
		top: -70px;
		left:25px;
		right: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 100% !important;
		line-height: 15px;
	}
}
@media (max-width: 768px) {
	.carousel-indicators{
		bottom: -10px;
	}
	.indexSection1{	
		position: absolute;
		top: -70px;
		background-color: silver;
		padding-top: 65px;
		padding-left: 0px;
		padding-right: 100%;
		padding-bottom: 48px;
		opacity: .8;
		border: 3px solid white;
		border-radius: 3px;
	}
	/* tekst v sliki */
	.indexSectionText{
		position: absolute;
		top: -50px;
		left:25px;
		right: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 80% !important;
		line-height: 15px;
	}
}
@media (max-width: 500px) {
	.carousel-indicators{
		bottom: -10px;
	}
	.indexSection1{	
		position: absolute;
		top: -70px;
		background-color: silver;
		padding-top: 65px;
		padding-left: 0px;
		padding-right: 100%;
		padding-bottom: 48px;
		opacity: .8;
		border: 3px solid white;
		border-radius: 3px;
	}
	/* tekst v sliki */
	.indexSectionText{
		position: absolute;
		top: -60px;
		left:25px;
		right: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 90% !important;
		line-height: 15px;
	}
}
@media (max-width: 320px) {
	.carousel-indicators{
		bottom: -10px;
	}
	.indexSection1{	
		position: absolute;
		top: -160px;
		background-color: silver;
		padding-top: 65px;
		padding-left: 0px;
		padding-right: 100%;
		padding-bottom: 148px;
		opacity: .8;
		border: 3px solid white;
		border-radius: 3px;
	}
	/* tekst v sliki */
	.indexSectionText{
		position: absolute;
		top: -50px;
		left:25px;
		right: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 60% !important;
		line-height: 15px;
	}
}
/* gumb O nas v sliki*/
.item a{
	transition: all 0.5s;
}
.buttonOnas{
	position: relative;
	color: white;
	height: 40px;
	font-size: 200%;
	top: 0px;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	border: 2px solid white;
	border-radius: 5px;
	background-color: rgb(73, 73, 73);
	font-weight: bold;
	text-decoration: none;
}
.buttonOnas:hover{
	color: rgb(229, 229, 229);
	font-weight: bold;
	background-color: rgb(49, 49, 49);
	text-decoration: none;
}
/* gumb O nas v sliki v različnih velikostih*/
@media (max-width: 1024px) {
	.buttonOnas{
		position: relative;
		color: white;
		height: 40px;
		font-size: 100%;
		top: -25px;
		align-items: center;
		justify-content: center;
		padding: 10px 15px;
		border: 2px solid white;
		border-radius: 5px;
		background-color: rgb(73, 73, 73);
		font-weight: bold;
		text-decoration: none;
	}
}
@media (max-width: 500px) {
	.buttonOnas{
		position: relative;
		color: white;
		height: 40px;
		font-size: 100%;
		top: -25px;
		align-items: center;
		justify-content: center;
		padding: 5px 10px;
		border: 2px solid white;
		border-radius: 5px;
		background-color: rgb(73, 73, 73);
		font-weight: bold;
		text-decoration: none;
	}
}
/* section */
section{
	margin-top: -20px;
	margin-bottom: 40px;
}
/* oblika kratkega opisa storitev*/
.indexMiddle{
	text-align: center;
	font-size: 230%;
	font-family: Arial, Helvetica, sans-serif;
}
.indexDeals{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}
.indexCols{
	background-color: white;
	width: 30%;
	padding: 0px 15px 15px 15px;
	margin: 0.99% 0.99%;
	box-sizing: border-box;
	box-shadow: 0px 1px 7px 0px gray;
}
.indexCols h3{
	color: black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
/* opis storitev v manjši velikosti*/
@media (max-width: 768px) {
	.indexMiddle{
		font-size: 190%;
	}
	.indexCols {
	  	width: 45%;
	}
  }
@media (max-width: 500px) {
	.indexMiddle{
		font-size: 150%;
	}
	.indexCols h3{
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	.indexCols {
		width: 90%;
  }	
}
/* gumb za storitve */
.buttonStoritve{
	margin-top: 10px;
	height: 65px;
	position: relative;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px 30px;
	background-color: rgb(255, 102, 0);
	transition: all 0.3s;
}
.buttonStoritve::before{
	position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: all .3s ease 0s;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    z-index: 9;
}
.buttonStoritve:hover::before{
	width: 100%;
	color: white;
}
.buttonStoritve:hover{
	text-decoration: none;
	color: white;
}
/* gumb za storitve v manjši velikosti*/
@media (max-width: 400px) {
	.buttonStoritve{
		margin-top: 10px;
		height: 50px;
		position: relative;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		padding: 15px 20px 15px 20px;
		background-color: rgb(255, 102, 0);
		transition: all 0.1s;
		font-size: 90%;
	}
}
/* postavitev znamke vozil*/
.znamkeVozil{
	margin-top: 50px;
	display: flex;
    height: 353px;
	background-color: white;
	width: 90%;
	margin: 50px auto;
}
.znamkeVozilText{
	width: 50%;
	margin-top: 20px;
	color: rgb(71, 71, 71);
}
.znamkeVozilText p{
	text-align: center;
	font-size: 160%;
	font-family: Arial, Helvetica, sans-serif;
}
.znamkeVozilList{
	display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 20px;
}
.znamkeVozilText ul{
    width: 30%;
}
.znamkeVozilText li{
	font-size: 100%;
	line-height: 30px;
}
.znamkeVozilText h3{
	font-size:230%;
	text-align: center;
	color: black;
}
.indexliImg {
	list-style: none;
}
	  
.indexliImg li:before {
	content: '✓ ';
	color: red;
	font-weight: bold;
}
.znamkeVozilimg img{
	position: relative;
	width: 115%;
}
/* znamke vozil v različnih velikostih*/
@media (max-width: 1440px) {
	.znamkeVozilimg img{
		width: 48%;
		position: absolute;
		left: 50%;
	}
}
@media (max-width: 1024px) {
	.znamkeVozilimg img{
		width: 45%;
		position: absolute;
		left: 50%;
		margin-top: 6%;
	}
	.znamkeVozilText h3{
		font-size: 170%;
	}
	.znamkeVozilText p{
		font-size: 110%;
	}
	.znamkeVozilList li{
		font-size: 80%;
	}
}
@media (max-width: 500px) {
	.znamkeVozilimg img{
		width: 45%;
		position: absolute;
		left: 50%;
		margin-top: 6%;
		visibility: hidden;
	}
	.znamkeVozilText{
		width: 100%;
	}
	.znamkeVozilText h3{
		font-size: 140%;
		margin-top: 5px;
	}
	.znamkeVozilText p{
		font-size: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.znamkeVozilList li{
		font-size: 60%;
		margin-left: -25px;
		margin-right: -25px;
	}
	.znamkeVozil{
		height: 310px;
	}
}
/* Komentarji */
.mnenjaUporabnikov{
	text-align: center;
	font-size: 190%;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
	text-transform: uppercase;
}
.komentarji{
	display:flex;
	flex-direction: row;
	padding: 20px;
	justify-content: center;
	width: 100%;
}
.komentar{
	border: solid grey;
	padding: 20px;
	margin: 0px 10px;
	width: 300px;
	background-color: white;
}
.name{
	position: relative;
	bottom: 0;
	left: 0;
}
@media (max-width: 768px) {
	.komentarji{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.komentar{
		margin-top: 10px;
	}
}
.topComment{
	height: 90%;
}
.stars{
	color: orangered;
		bottom: -20px;
}
.starNum{
	color: black;
	font-weight: bold;
}
/* Kontakt gumb */
.indexKontakt{
	display: flex;
	align-items: center;
	justify-content: center;
}
.indexKontaktText{
	text-align: center;
	font-size: 160%;
	font-family: Arial, Helvetica, sans-serif;
	width: 40%;
	margin-top: 10px;
}
.buttonKontakt{
	margin-top: 10px;
	height: 65px;
	position: relative;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px 30px;
	background-color: rgb(255, 102, 0);
	transition: all 0.3s;
}
.buttonKontakt::before{
	position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: all .3s ease 0s;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    z-index: 9;
}
.buttonKontakt:hover::before{
	width: 100%;
	color: white;
}
.buttonKontakt:hover{
	text-decoration: none;
	color: white;
}
/* Kontakt gumb na različnih velikostih*/
@media (max-width:500px) {
	.indexKontakt{
		display: flex;
		flex-direction: column;
	}
	.indexKontaktText{
		text-align: center;
		width: 70%;
		font-size: 160%;
	}
	.buttonKontakt{
		height: 55px;
		font-size: 90%;
	}
}

/*------------------ O nas ------------------*/
.oNas{
	margin-top: 50px;
	padding-top: 0px;
	padding-left: 20%;
	padding-bottom: 30px;
	font-size: 230%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 3px 1px white;
}
.mainOnas{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.mainOnasText{
	font-size: 130%;
	width: 50%;
	text-align: justify;
	line-height:25px;
	margin-right: 10px;
}
.mainOnasText p{
	padding: 0px 50px 0px 100px;
}
.mainOnasImg{
	width: 50%;
	margin-left: 10px;
}
.mainOnasImg img{
	width: 100%;
}
/* O nas na različnih velikostih*/
@media (max-width: 768px) {
	.oNas{
		margin-top: 20px;
		font-size: 190%;
	}
	.mainOnasText{
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 100%;
		width: 40%;
		text-align: justify;
		line-height:20px;
		margin-right: 10px;
	}
	.mainOnasText p{
		padding: 0px 50px 0px 0px;
	}
	.mainOnasImg{
		width: 55%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.mainOnasImg img{
		width: 102%;
	}
}
@media (max-width: 500px) {
	.mainOnas{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.mainOnasImg{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	.mainOnasText{
		width: 100%;
		padding:10px 0px 0px 20px;
		margin: 0;
	}
	.mainOnasImg img{
		width: 100%;
	}
}
/* Zakj nas izbrati */
.ZakajOnas{
	margin-top: 20px;
	text-align: center;
	font-size: 230%;
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
}
.onasStoritve{
	margin: 0 auto;
	width: 70%;
	background-color: white;
	display: flex;
	padding: 20px 0px;
	border-bottom: 5px solid rgb(158, 158, 158);
	border-right: 5px solid rgb(158, 158, 158);
	border-top: 5px solid rgb(133, 133, 133);
	border-left: 5px solid rgb(133, 133, 133);
}
.onasStoritve div{
	width: 50%;
	font-size: 120%;
	line-height: 30px;
	padding-left: 0%;
}
.onasStoritve p{
	width: 100%;
	height: 55%;
	padding-top: 40px;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase
}
.onasStoritveIn{
	margin-left: 32%;
}
/* Zakj nas izbrati v različnih velikostih*/
@media (max-width: 768px) {
	.onasStoritve{
		flex-direction: column;
	}
	.onasStoritve div{
		width: 100%;
		font-size: 120%;
		line-height: 30px;
		padding-left: 0%;
	}
}
@media (max-width: 400px) {
	.ZakajOnas{
		width: 100%;
	}
	.onasStoritve div{
		width: 100%;
		font-size: 80%;
	}
	.onasStoritveIn{
		margin-left: 20%;
	}
}
/*------------------ Kontakt ------------------*/
/* Leaflet zemljevid */
#map {
	width: 100%;
	height: 500px;
}
#mapPopup {
	text-align: center;
	color: black;
	font-size: 12px;
}
.leaflet-popup-content-wrapper {
	background-color: rgba(255, 123, 0, 0.5);
	color: white;
	padding: 10px;
	border-radius: 20px;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}
.leaflet-popup-tip {
	background-color: rgba(255, 123, 0, 0.5);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
.casDelovanja{
	text-align: center;
	font-size: 200%;
}
/* Čas delovanja tabela */
table{
	margin: auto;
	margin-bottom: 20px;
	background-color: white;
	border: solid white;
	border-top: antiquewhite;
	border-left: antiquewhite;
}
tr{
	border-bottom: 1px solid silver;
}
th{
	text-align: center;
	background-color: antiquewhite;
	border-right: 1px solid silver;
}
td{
	text-align: center;
	width: 100px;
	height: 40px;
	border-right: 1px solid silver;

}
.servisTable{
	background-color: antiquewhite;
}
/*------------------ Storitve ------------------*/
.storitveMiddle{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
	font-size: 230%;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.storitveDeals{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}
.storitveCols{
	background-color: white;
	width: 45%;
	padding: 0px 15px 15px 15px;
	margin: 0.99% 0.99%;
	box-sizing: border-box;
	box-shadow: 0px 1px 7px 0px gray;
}
.storitveCols h3{
	color: rgb(31, 31, 31);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
/* opis storitev v manjši velikosti*/
@media (max-width: 768px) {
	.storitveMiddle{
		font-size: 190%;
	}
	.storitveCols {
	  	width: 45%;
	}
  }
@media (max-width: 500px) {
	.storitveMiddle{
		font-size: 150%;
	}
	.storitveCols h3{
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	.storitveCols {
		width: 90%;
  }	
}
/*------------------ Blog ------------------*/
.novice{
	display: flex;
    flex-wrap: wrap;
    width: 100%; /* Prilagodite širino glede na vaše potrebe */
    justify-content: flex-start;
    width: 100%;
    padding-top: 50px;
	align-items: flex-start;
}
.novica{
	width: 450px;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	margin-left: 40px;
	height: 450px;
}
.novica h3{
	margin-top: 5px;
	margin-left: 5%;
	height: 10%;
	margin-bottom: 10px;
}
.novica p{
	width: 90%;
	margin-left: 5%;
	height: 25%;
}
.vecOtem{
	height: 10%;
}
.novica a{
	color: white;
	text-decoration: none;
	padding: 15px 25px;
	background-color: rgb(0, 140, 255);
	width: 30%;
	border-radius: 10px;
	text-align: center;
	margin-left: 5%;
	margin-top: 10px;
}
.novica a:hover{
	background-color: rgb(32, 32, 32);
	transition: all .3s;
}
/* blog v različnih velikostih */
@media (max-width:500px) {
	.novica{
		width: 250px;
		background-color: white;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		margin-left: 40px;
		height: 380px;
		font-size: 90%;
	}
	.novica h3{
		margin-top: 5px;
		margin-left: 5%;
		height: 10%;
		margin-bottom: 10px;
		font-size: 180%;
	}
	.novica p{
		width: 90%;
		margin-left: 5%;
		height: 25%;
	}
	.vecOtem{
		height: 10%;
	}
	.novica a{
		color: white;
		text-decoration: none;
		padding: 10px 20px;
		background-color: rgb(0, 140, 255);
		width: 30%;
		border-radius: 10px;
		text-align: center;
		margin-left: 5%;
		margin-top: 10px;
		font-size: 90%;
	}
	.novicaImg img{
		width: 250px;
	}
}